.login-bg-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/bg.jpg");
}

.social-icons button{
    border-radius: 50%;
    color: white;
    padding: 12px;
    font-weight: bold;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
}